.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 72px;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 200;
  padding-top: 5px;
}

.icons{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.icons:hover{
  background-color: rgb(235, 235, 235);
}

.icons img{
  height: 24px;
  margin-bottom: 4px;
}
.icons div{
  font-family: Roboto, Arial;
  font-size: 10px;
}